.campo{
  border-radius: 5px;
  background-color: #DDDDDD;
  border: 1px solid #39c;
}

h4{
  font-family: Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

h5{
  font-family: Arial, sans-serif;
  text-align: center;
  color: white;
}

pre{
  font-family: Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.general{
  margin: auto;
  margin-top: 60px;
  width: 700px;
  height: 700px;
}

.general2{
  margin: auto;
  margin-top: 60px;
  width: 700px;
  height: 50px;
}

.div-dist{
  width: 350px;
  height: 350px;
  background-color: #282C34;
  float: right;

  align-items: center;
  display: flex;
  justify-content: center;
}

.div-temp{
  width: 350px;
  height: 350px;
  background-color: #282C34;
  float: right;

  align-items: center;
  display: flex;
  justify-content: center;
}

.div-tilt{
  width: 350px;
  height: 350px;
  background-color: #282C34;
  float: right;

  align-items: center;
  display: flex;
  justify-content: center;
}

.div-ldr {
  width: 350px;
  height: 350px;
  background-color: #282C34;
  float: right;

  align-items: center;
  display: flex;
  justify-content: center;
}


.small_buttons .button{
  width: 80px;
  display: block;
  float: left;
  border-radius:3px;
  margin: 10px 10px 10px 10px;
  padding:15px;
  text-align:center;
  text-decoration:none;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ecf0f1;
  font-weight: bold;
}

.button:active{
  position:relative;
  top:6px;
}

.color{
  box-shadow: 0px 6px #7f8c8d;
  background: #95a5a6;
}


.cont{
  align-items: center;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: #FFF9B2;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #FFED00, 0 0 20px #FFED00, 0 0 50px #FFED00, 0 0 60px #FFED00, 0 0 70px #FFED00;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #0084FF;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: white /*Cosa esa*/;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #0084FF;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #0084FF;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: white /*Cosa esa*/;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #0084FF;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #0084FF;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: white /*Cosa esa*/;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #0084FF;
}
input[type=range]:focus::-ms-fill-upper {
  background: #0084FF;
}

body {
  padding: 30px;
}
